@import '../../../styles/variables';
@import '../../../styles/buttons';
@import '../../../styles/forms';

.login {
  padding: 0 1em;
  .decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    .fingerPrint {
      width: 40%;
      transition: all 2s;
      filter: drop-shadow(0px 0px 3px $primary);
    }
  }
  .copy {
    .title {
      font-weight: 200;
      font-size: 2em;
      margin: 0;
    }
    .text {
      font-weight: 400;
    }
  }

  .buttonContainer {
    .buttonPrimary {
      width: 100%;
    }
  }
  .notAccountContainer {
    margin-top: 1em;
    .link {
      text-decoration: none;
      color: $primary;
    }
  }
}
