@import "../../../styles/variables";
@import "../../../styles/buttons";
.navbar {
	border-bottom: 1px solid $primary;
	border-radius: 0.5rem;
	.brand {
		.username {
			display: inline-block;
			margin-left: 0.5em;
			color: $primary;
		}
	}
	.dropdown {
		.button {
			@extend .buttonSecondary;
			padding: 0.5em 1em;
			&::after {
				position: absolute;
				content: "";
				color: transparent;
			}
		}
		.menu {
			border: 1px solid $primary;
			background-color: $dark;
			a,
			hr {
				color: $primary;
			}
			a:active,
			a:focus,
			a:hover {
				background-color: $primary;
				color: $dark;
			}
		}
	}
}
