@import "../styles/variables.scss";
.mainBackground {
	min-height: 100vh;
	background: #1d1d1d;
	position: relative;
	overflow: hidden;
	.content {
		height: inherit;
		position: relative;
		z-index: 1;
	}
}
