@import "../styles/variables.scss";
.mainBackground {
	transition: all 1s;
	min-height: 100vh;
	background: $dark;
	color: $light;
	position: relative;
	overflow-x: hidden;
	.content {
		transition: all 1s;
		height: 100vh;
		position: relative;
		z-index: 1;
	}
}
