@import "../../styles/forms";
@import "../../styles/variables";
@import "../../styles/buttons";

.registerForm {
	padding: 1em;
	.backButton {
		display: block;
		padding: 0.25em;
		text-decoration: none;
		color: $primary;
	}
	.decoration {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 30vh;
		.formImage {
			width: 40%;
			transition: all 2s;
			filter: drop-shadow(0px 0px 3px $primary);
		}
	}
	.copy {
		.title {
			font-weight: 200;
			font-size: 2em;
			margin: 0;
		}
		.text {
			font-weight: 400;
		}
	}
	.buttonPrimary {
		width: 100%;
	}
}
