// main
$light: #d1d1d1;
$dark: #1d1d1d;

// colors
$primary: #81e6b6;
$primary-soft: hsla(151, 67%, 70%, 0.15);
$primary-dark: #04954f;
$secondary: #a8a8a8;
$warning: #def787;
$danger: #950404;
$danger-bright: #fc0000;
$danger-soft: hsla(0, 41%, 41%, 0.15);
