@import "../../../styles/buttons";
@import "../../../styles/variables";

.transactions {
	margin-top: 1em;
	& > .title {
		color: $primary;
		border-bottom: 1px solid $primary;
	}
	.table {
		height: 50vh;
		text-align: center;
		.noTransactions {
			.title {
				padding: 2em 0;
				color: $light;
			}
		}
	}
}
