@import "../styles/variables.scss";

.wrapper {
	display: flex;
	position: relative;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	.ctaContainer {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 1.25em;
		box-sizing: border-box;
		.copy {
			h1 {
				font-weight: 300;
			}
			p {
				color: $secondary;
				margin: 1.5em 0;
			}
			.ctaButton {
				display: inline-block;
				background: $primary;
				background: linear-gradient(150deg, #70dae6 0%, #81e6b6 50%, #def787 100%);
				padding: 0.5em 1.5em;
				border-radius: 0.2rem;
				color: $dark;
				font-weight: 500;
				text-decoration: none;
				text-align: center;
			}
		}
	}
	.blobContainer {
		position: relative;
		bottom: 0;
		width: 100%;
		overflow: hidden;
		.blob {
			position: relative;
			top: -80px;
			left: -100px;
			width: 250%;
			animation: blobRotation 125s infinite;
		}
	}
}

@keyframes blobRotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
