form input {
	text-transform: lowercase;
	border: none;
	border-bottom: 1px solid #d1d1d1;
}
form input:focus {
	text-transform: lowercase;
	border: none;
	border-bottom: 1px solid #d1d1d1;
	outline: none;
}

#wraper {
	overflow: hidden;
}

#decorationLayer {
	z-index: -100;
	user-select: none;
	animation: loop 100s infinite linear;
}

#blurLayer {
	z-index: -1;
	height: 100%;
	width: 100%;
	background: #fff;
}

@keyframes loop {
	100% {
		transform: rotate(360deg);
	}
}
