#loginWrapper {
	z-index: 10000;
	background-color: rgba(255, 255, 255, 0.98);
}
#loginForm input {
	text-transform: lowercase;
}

#wraper {
	overflow: hidden;
}

#decorationLayer {
	user-select: none;
	animation: loop 100s infinite linear;
}

@keyframes loop {
	100% {
		transform: rotate(360deg);
	}
}
