#background {
	height: 93vh;
}

#background .layer {
	height: 50%;
	width: inherit;
}
#background > .layer-top {
	background-color: #1d1d1d;
}
#background > .layer-bottom {
	background-image: linear-gradient(#1d1d1d, #3f0071);
}

.logo-container {
	padding: 10%;
}

.login-form-container {
	background-color: #ffffff18;
	border-radius: 0.5rem;
}

#loginForm {
	top: 0;
	margin-top: 7vh;
}

#loginForm input {
	text-transform: lowercase;
}
